<sa-spinner-circular
  [color]="'#2095ac'"
  [enabled]="showLoader"
  [class.showloader]="showLoader"
></sa-spinner-circular>

<div class="container-fluid" [class]="themeIdentity">
  <mat-drawer-container class="" [hasBackdrop]="true">
    <mat-drawer
      #drawer
      [mode]="'Over'"
      class="profile_side"
      [position]="position"
    >
      <div class="drawer_side_wrapper">
        <div class="drawer_side_top_wrapper position-relative">
          <div class="drawer_side_top position-relative">
            <div class="row justify-content-between">
              <div class="col-8">
                <small class="text-muted">Profile Preview</small>
              </div>
              <div class="col-2 d-flex justify-content-end">
                <button
                  type="button"
                  (click)="drawer.toggle()"
                  class="btn btn-primary btn--lg btn_mot_icon mb-2"
                >
                  <img
                    src="../../../../../assets/images/close.png"
                    alt="nightmode"
                    class="img-fluid"
                  />
                </button>
              </div>
            </div>
            <div class="avatar_lg_wrapper">
              <img
                src="../../../../../assets/images/avatarlg.png"
                alt="nightmode"
              />
            </div>
          </div>
        </div>
        <div class="profile_info_wrapper">
          <p class="profile_name">Mahmoud Seif El Nasr</p>
          <small class="text-primary d-block">Project Manager</small>
          <div id="navigation" class="mt-3 mb-5">
            <ul>
              <li>
                <img
                  src="../../../../../assets/images/male.svg"
                  alt="nightmode"
                  class="img-fluid"
                />
              </li>
              <li><small class="text-primary">45 years</small></li>
            </ul>
          </div>
          <span class="text-muted form-control-sm d-block mb-1"
            >mahmoudseifelnasr@mail.com</span
          >
          <span class="text-muted d-block form-control-sm mb-4"
            >(+20) 0123 456 7890</span
          >
          <a
            href=""
            class="btn btn-primary btn_mot btn--md d-block btn_edit m-auto"
          >
            Edit
          </a>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <div class="navbar_wrapper">
        <div class="row justify-content-between">
          <div class="col-8">
            <div class="navbar_header">
              <h3 class="app_title mb-0">
                {{ "MINISTRY OF TRANSPORT AND LOGISTIC SERVICES" | translate }}
              </h3>
            </div>
          </div>
          <div class="col d-flex justify-content-end">
            <div id="navigation">
              <ul>
                <li *ngIf="currentLang === 'en-US'">
                  <button
                    type="button"
                    (click)="changeLangage('ar-SA')"
                    class="btn btn-primary btn--lg btn_mot_icon w-auto"
                  >
                    <img
                      src="../../../../../assets/images/btnlang.png"
                      alt="nightmode"
                      class="img-fluid"
                    />
                  </button>
                </li>
                <li *ngIf="currentLang === 'ar-SA'">
                  <button
                    type="button"
                    (click)="changeLangage('en-US')"
                    class="
                      btn btn-primary btn--lg btn_mot_icon
                      w-auto
                      btn_mot_icon_en
                    "
                  >
                    <img
                      src="../../../../../assets/images/Group 207.svg"
                      alt="nightmode"
                      class="img-fluid"
                    />
                    English
                  </button>
                </li>

                <li>
                  {{ currentDate | localizedDate | localizedDateNumbers }}
                </li>
                <!-- <li>
                  <img
                    class="avatar_img"
                    src="../../../../../assets/images/avatar.png"
                  />
                  <div class="avatar_name" (click)="drawer.toggle()">
                    Mahmoud S.
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>

      <app-side-nav></app-side-nav>
      <app-side-nav-chart></app-side-nav-chart>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
