<!-- bg--blue/bg--red/bg--orange/bg--bluesky -->

<div class="row">
  <div
    class="dashboard_card col ml-2 mr-2"
    *ngFor="let data of callsData; let i = index"
    [ngStyle]="{ background: data?.color }"
  >
    <div class="p-3">
      <!-- row-reverse -->
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-lg-8">
          <div class="card_title theme_change text-truncate">
            {{ data?.readValue | arabicNumbers }}
          </div>
          <div class="card_desc theme_change">{{ "TOTAL" | translate }}</div>
          <div
            class="card_sm_desc theme_change text-truncate"
            *ngIf="lang == 'en-US'"
          >
            {{ data?.name }}
          </div>
          <div
            class="card_sm_desc theme_change text-truncate"
            *ngIf="lang == 'ar-SA'"
          >
            {{ data?.name }}
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <!--  -->
          <img
            src="../../../assets/images/recievedcall.svg"
            class="img-fluid"
            *ngIf="data?.colour === 2"
          />
          <img
            src="../../../assets/images/incomingcall.svg"
            class="img-fluid"
            *ngIf="data?.colour === 1"
          />
          <img
            src="../../../assets/images/waitingcall.svg"
            class="img-fluid"
            *ngIf="data?.colour === 4"
          />
          <img
            src="../../../assets/images/missedcall.svg"
            class="img-fluid"
            *ngIf="data?.colour === 3"
          />
        </div>
      </div>
    </div>
  </div>
</div>
